input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
label {
  color: #874c41;
}
textarea {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
input[type="submit"] {
  /* background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; */
  border: solid 1px #3f826d;
  background-color: #3f826d;
  padding: 10px;
  border-radius: 15px;
  color: #e2725b;
  text-decoration: none;
}

input[type="submit"]:hover {
  background-color: #3f826d;
}

.container {
  border-radius: 5px;
  background-color: #e1e6e1;
  padding: 20px;
}
