body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Droid Serif", serif;
  font-size: 14px;
  color: #2f2f2f;
  background-color: #e1e6e1;
}
h1 {
  color: #874c41;
  font-size: 40px;
}
p {
  font-size: 15px;
  font-weight: 600;
  color: #3f826d;
}
a {
  margin-top: 30px;
}
button {
  border: solid 1px #3f826d;
  background-color: #3f826d;
  padding: 10px;
  border-radius: 15px;
  color: #e2725b;
  text-decoration: none;
}
